*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to right, #f9f4b3, #f3b9a6, #f7c5e6);

}

.nav-container{
    width:100%;
    background-color: #f56f6f;
    padding: 18px 0;
}

.nav-bar ul{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width:80%;
    margin:auto;
    font-size:20px;
    font-weight:600;
    letter-spacing: 1px;
}

.nav-bar ul li{
    cursor:pointer;
}

.nav-bar img{
    width:28px;
    height:28px;
    cursor:pointer;
}

/* BODY CONTAINER */
.body-container{
    width:100%;
    height:100vh;
    display:flex;
}

.left-body{
    width:50%;
    padding-top:150px;
    padding-left:80px;
    display:flex;
    flex-direction: column;
    gap:50px;
}

.left-body h1{
    font-size:50px;
    letter-spacing: 5px;
}

.left-body pre{
    font-size:20px;
    line-height: 1.5;
    /* letter-spacing: 1px; */
}

.click-me{
    width:240px;
    height:50px;
    background-color: #f56f6f;
    color:#fff;
    font-size:14px;
    border:none;
    cursor:pointer;
}

.right-body{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.right-body img{
    width:100%;
    height:100vh;
}

/* Second Section */
.second-container {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-top:30px;
    justify-content: center;
    height:100vh;
    width:100%
}

/* Left Image Grid */
.second-left {
    display: grid;
    grid-template-columns: 230px 230px;
    gap: 18px;
}

.second-left img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Tall Image */
.second-left img:nth-child(2) {
    grid-row: span 2;
    height: 418px;
}

/* Right Content Box */
.second-right {
    background-color: #ff6e6e; 
    padding: 45px 60px;
    width: 500px;
}

.small-text {
    font-size: 12px;
    margin-bottom: 12px;
    letter-spacing: 1px;
}

.second-right h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 35px;
    letter-spacing: 5px;
}

/* Click + Arrow */
.click-box {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    cursor: pointer;
}

.arrow {
    font-size: 24px;
    margin-top: -2px;
}
